<!DOCTYPE html>
<html>
<head>
<title>Login & Register</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
      function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lang: position.coords.longitude
                    };
                    console.log(pos);
                    document.getElementById("lat").value = pos.lat;
                    document.getElementById("lang").value = pos.lang;
                });

            }

        }


    </script>
</head>
<body onload="getLocation()">
<div class="container" style="padding-top: 2%">
  <% if(msgs){ %>
				<% msgs.forEach(function(msg){ %>
					 <center>
						 <div class="alert alert-success" style="width: 35%"><%= msg %></div>
					 </center>
				<% }) %>
			<% } %>
  <div class="row" style="text-align:center">
    <div class="col col-md-6">
      <h2>Login</h2>
      <form method="post" action="/login">
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Enter Email"/>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Enter Password"/>
          </div>
          <input type="hidden" id="lat" name="lat" />
          <input type="hidden" id="lang"  name="lang"/>
          <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
    <div class="col col-md-6">
      <h2>Register</h2>
      <form method="post" action="/register">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Enter Full Name" value="Prateek"/>
        </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Enter Email" value="p@p.com"/>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Enter Password" value="1"/>
          </div>
          <div class="form-group">
            <select name="designation" class="form-control" required>
              <option>Select Designation</option>
              <option value="student">Student</option>
              <option value="teacher">Teacher</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
